<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3" >

<head>
 <link rel="stylesheet" href="style.css">
<meta charset="UTF-8">
<title>Nav</title>

<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

</style>
</head>
<body>
<section th:fragment="navbar" class="py-3 bg-gray-900 ">


<ul >
            <li><a href="/" >Boards</a></li>

         <li> <a href="/tasklists" >TaskLists</a></li>

          <li><a href="/tasks" >Tasks</a></li>

            <li> <a href="/subtasks" >SubTasks</a></li>

            <li> <a href="/teams" >Teams</a></li>

           <li> <a href="/members" >Members</a></li>
            
             <li><a href="/tests" >Tests</a></li>
</ul>

       



</section>
</body>
</html>